
body{
  display: block;
  position: absolute;
}

.logo{
  max-width:100%;
  max-height:100%;
}

.logo-div{
  position:relative;
  right: 35px;
  width: 185px;
  display: inline-block;
}

.line-div{
  bottom: 29px;
  right: 75px;
  position:relative;
  height: 129px;
  width: .2px;
  border-right: 2px solid #67A6EA;
  display: inline-block;
}

.text-div{
  display: inline-block;
  bottom: 41.5px;
  right: 67px;
  position:relative;
}

.text{
  display: block;
}

.text1{
  font-size: 20px;
}

.text2{
  font-size: 18px;
}
